* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

img {
  width: 100%;
}

.birthday {
  display: flex;
  flex-direction: row;
  align-items: center;
}
